In [14]:
x = 10

In [15]:
x

10

In [16]:
mysub = "python"
mysub

'python'

In [17]:
_mycity = "Solan"
_mycity

'Solan'

In [18]:
my_city1 = "Shimla"
my_city1

'Shimla'

In [19]:
mycity2 = "New delhi"
mycity2

'New delhi'

In [20]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
x = 1
type(x)

int

In [22]:
y = 0.0
type(y)

float

In [23]:
z = 3+4j
type(z)

complex

In [24]:
x = "solan"
type(x)

str

In [25]:
a = True
type(a)

bool

In [26]:
b = False
type(b)

bool

In [27]:
e = None
type(e)

NoneType

In [28]:
 #single quotes
 my_sub = 'Generative AI'
 type(my_sub)

str

In [29]:
#double quotes
my_college = "Shoolini University"
type(my_college)

str

In [30]:
#triple quotes
my_sentence = '''this sentence is used for multiple
lines, this is also string'''
type(my_sentence)

str

In [31]:
my_sub = "Machine learning"
len(my_sub)

16

In [32]:
my_sub = "Machine learning"
my_sub[0]

'M'

In [33]:
my_sub[-16]

'M'

In [34]:
my_sub[6]

'e'

In [35]:
my_sub = "Machine learning"
my_sub[0:7]

'Machine'

In [36]:
my_sub[8::1]

'learning'

In [37]:
my_sub = "Machine learning"
my_sub[0:15:2]

'Mcielann'

In [38]:
my_sub = "Machine learning"
my_sub[-1::-1]

'gninrael enihcaM'

In [39]:
my_sub = "PYTHON"
my_sub.lower()

'python'

In [40]:
#upper()--this method convert string into uppercase
my_string = "Machine learning"
my_string.upper()

'MACHINE LEARNING'

In [41]:
#count() -- this method count the number of character
my_string = "Machine learning"
my_string.count('e')

2

In [42]:
my_list = [78, 89, "apple", 3.14]
type(my_list)

list

In [43]:
fruit_list = ["apple", "banana", "cherry"]
type(fruit_list)

list

In [44]:
my_list = [78, 89, "apple", 3.14]
len(my_list)

4

In [45]:
print(my_list)

[78, 89, 'apple', 3.14]

In [46]:
my_list = [78, 89, 23, 75, 22]
my_list[0]

78

In [47]:
my_list[-1]

22

In [48]:
my_list = [78, 89, 23, 24, 50]
print(my_list[0:4:1])
print(my_list[0:4])

[78, 89, 23, 24]
[78, 89, 23, 24]

In [49]:
print(my_list[0:])

[78, 89, 23, 24, 50]

In [50]:
my_list[: :-1]

[50, 24, 23, 89, 78]

In [51]:
list1 = [7, 8, 5, 4, 2]
min(list1)

2

In [52]:
#max()--this function find maximum number of the list
max(list1)

8

In [53]:
#sum()--this function return addition of the item
sum(list1)

26

In [54]:
#sorted()--this function arrange list in increasing or decreasing order
my_list = [89, 90, 56, 34, 100, 45]
sorted(my_list, reverse = True)

[100, 90, 89, 56, 45, 34]

In [55]:
my_list

[89, 90, 56, 34, 100, 45]

In [56]:
#append()--this method add the item end of the list
list1 = [89, 76, 56]
list1.append(100)
list1

[89, 76, 56, 100]

In [57]:
#extend()--this method used to merge list into another list
list1 = [12, 34,56,89]
list2 = [11,23,56]
list1.extend(list2)
list1

[12, 34, 56, 89, 11, 23, 56]

In [58]:
#sort()--this method arrange list in increasing or decreasing order
my_list = [67, 45, 12, 34]
my_list.sort(reverse = True)
my_list

[67, 45, 34, 12]

In [59]:
#pop()--this method remove item from the list,and take index as argument
list1 = [90, 78, 45, 23, 96]
list1.pop(1)

78

In [60]:
#reverse()--this method used to reverse the list
my_list = [90, 78, 65, 100]
my_list.reverse()
my_list

[100, 65, 78, 90]

In [ ]:
age = int(input("Enter your age: "))
if age>60:
  print("you are too old for marry")
elif age<18:
  print("you are too young for marry")
else:
  print("we will find perfect match for you")

In [ ]:
 #loop helps to execute block of code repeatedly
 my_sub = "python"
 print(my_sub[0])
 print(my_sub[1])
 print(my_sub[2])
 print(my_sub[3])
 print(my_sub[4])
 print(my_sub[5])

In [ ]:
my_sub = "Python"
for i in my_sub:
  print(i)

In [ ]:
my_list = [90, 78, 45, 23]
for i in my_list:
  print(i)

In [ ]:
for i in range(0, 6, 1):
  print(i)

In [ ]:
for i in range(0,6):
  print(i)

In [ ]:
for i in range(6):
  print(i)

In [ ]:
#while
i = 0 #initialization
while i<5:
  print(i)
  i+=1

In [ ]:
#break--this statement break the loop
i = 0
while i<5:
  i+=1
  if i == 3:
    break
  else:
    print(i)

In [ ]:
#continue statement--skip the current iteration
i = 0
while i<5:
  i+=1
  if i == 3:
    continue
    print(i)
  else:
    print(i)

In [ ]:
#pass statement---pass the code
i = 0
while i<5:
  i+=1
  if i==3:
    pass
    print(i)
  else:
    print(i)

In [ ]:
#user defined function without argument
def add():
  a = int(input("Enter first number: "))
  b = int(input("Enter second number: "))
  return a+b

In [ ]:
print(add())

In [ ]:
#positional argument
def Calculation(a, b):
  print("addition", a+b)
  print("Subtraction", a-b)
  print("Multiplication", a*b)
  print("division", a/b)

In [ ]:
Calculation(10, 5)

In [ ]:
#default argument
def area_perimeter(width = 4, height = 8):
  area = width*height
  perimeter = 2*(width+height)
  return "Area is", area, "and perimeter is ", perimeter

In [ ]:
area_perimeter(10, 20)

In [ ]:
#keyword argument
def interest(p, r, t):
  i = (p*r*t)/100
  return i

In [ ]:
interest(r = 10, t = 2, p =1000)

In [ ]:
#mixed argument
interest(1000, t = 2, r = 10)

In [ ]:
interest(p = 1000, r = 10, t= 2 )

In [ ]:
import numpy as np
twod_array = np.array([[1, 2,3],[4,5, 6],[7,8,9]])
print(twod_array)

In [ ]:
print(twod_array[0][1])

In [ ]:
print(twod_array[1][2])

In [ ]:
#slicing
print(twod_array)

In [ ]:
print(twod_array[0:2,0:2])

In [ ]:
mat1 = np.matrix("1, 2,3;4, 5, 6;7,8,9")
print(mat1)

In [ ]:
zeros_array = np.zeros((3, 3),dtype = int)
print(zeros_array)

In [ ]:
ones_array = np.ones((3,3),dtype = int)
print(ones_array)

In [ ]:
print(ones_array*99)

In [ ]:
my_array = np.full((3, 3), 100)
print(my_array)

In [ ]:
random_array = np.random.random((3, 3))
print(random_array)

In [ ]:
randint_array = np.random.randint(1, 20,(3,3))
print(randint_array)

In [ ]:
import numpy as np
my_array = np.array([1, 2,3,4])
print(my_array)
power_array = np.power(my_array, 2)
print(power_array)

In [ ]:
log_array = np.log(my_array)
print(log_array)

In [ ]:
log2_array = np.log2(my_array)
print(log2_array)

In [ ]:
log10_array = np.log10(my_array)
print(log10_array)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
xpoint = np.array([1,3])
ypoint = np.array([2,4])
plt.plot(xpoint,ypoint)
plt.show()

In [ ]:
cgpa = np.array([6,7,8,9,10])
package = np.array([5, 6, 7, 9, 12])
plt.plot(cgpa, package,"*:g",ms=15, mec = "orange",linewidth = 5)
plt.xlabel("CGPA")
plt.ylabel("Packge(LPA)")
plt.title("Shoolini university students data")
plt.show()

In [ ]:
#bar plot--it is work on numerical as well as categorical data
import matplotlib.pyplot as plt
import numpy as np
fruit = np.array(["Apple", "Banana", "Orange", "Watermelon"])
quantity = np.array([100, 120, 90, 80])
color = np.array(["red", "yellow", "orange", "green"])
plt.bar(fruit, quantity, color = color)
plt.show()

In [ ]:
fruit = np.array(["Apple", "Banana", "Orange", "Watermelon"])
quantity = np.array([100, 120, 90, 80])
color = np.array(["red", "yellow", "orange", "green"])
plt.barh(fruit, quantity, color = color)
plt.show()

In [ ]:
#pie plot
fruit_percentage = np.array([20, 25, 35, 20])
fruit_name = np.array(["Apple", "Banana", "Orange", "Watermelon"])
colors = np.array(["red", "yellow", "orange", "green"])
myexplode = np.array([0.2, 0, 0, 0])
plt.pie(fruit_percentage, labels = fruit_name, autopct="%1.1f%%",
        colors =colors, explode = myexplode  )
plt.legend(title = "Fruit", loc = "best")
plt.show()

In [ ]:
age_of_car = np.array([4,5, 6, 7, 8, 9, 10, 11, 12])
speed_of_car = np.array([150, 140, 130, 120, 110, 100, 90, 80, 70])
plt.scatter(age_of_car, speed_of_car, color = "red")
plt.xlabel("Age of car")
plt.ylabel("Speed of car")
plt.title("Age vs speed of car")
plt.show()

In [ ]:
#histogram--it showing the frequency distribution of the data
import numpy as np
x = np.random.randint(40, 100, (1, 200))
x = x.flatten()
print(x)

In [ ]:
plt.hist(x, bins = 20)
plt.xlabel("Marks")
plt.ylabel("Frequency")
plt.title("Marks distribution")
plt.show()

In [ ]:
import pandas as pd

In [ ]:
fruit_list = ["apple", "banana", "cherry"]
my_series = pd.Series(fruit_list, name = "Fruits")
my_series

In [ ]:
list_of_list = [["apple", 100],["Banana", 120],["orange",150]]
df = pd.DataFrame(list_of_list, columns = ["Fruit", "Quantity"])
df

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/data/imdb_data.csv")
df

In [ ]:
#find the number of rows and column
df.shape

In [ ]:
#bring the number of rows from top of the dataframe
df.head(100)

In [ ]:
#bring the data from bottom of the dataframe
df.tail(10)

In [ ]:
#bring the rows from the dataframe randomly
df.sample(10)

In [ ]:
#find the information of the data
df.info()

In [ ]:
#how does the data looklike mathematically
df.describe()

In [ ]:
import numpy as np
from numpy.linalg import norm

A = np.array([2,1,2,3,2,9])
B = np.array([3,4,2,4,5,5])

# compute cosine similarity
cosine = np.dot(A,B)/(norm(A) * norm(B))
print("Cosine Similarirty:",cosine)

In [ ]:
from transformers import pipeline
summarizer = pipeline ("summarization" , model = "facebook/bart-large-cnn" )

text = """The most common name for rhododendron in India is Burans (or variations like Burans, Bras, or Buras).
Other common names vary by region, including Lal buransh (Hindi), Billi (Tamil), Kattupoo varasu (Malayalam), and Pu (Kannada)."""

summary =summarizer(text,max_length=30,min_length=10, do_sample=False)
print(summary[0])

In [ ]:
#WAP to create list and add item end of the list with the help of append method
my_list=[1,2,3,4]
my_list.append(5)
print(my_list)

In [ ]:
# WAP to insert the item into the listwith the help of insert method
my_list=[1,2,3,4]
my_list.insert(2,5)
print(my_list)

In [ ]:
# WAP to remove the item from the list with the help of remove method
my_list=[1,2,3,4]
my_list.remove(2)
print(my_list)

In [ ]:
# WAP to remove the item from the list with the help of pop method
my_list=[1,2,3,4]
my_list.pop(2)
print(my_list)

In [ ]:
# WAP to update the list with the help of indexing
my_list=[1,2,3,4]
my_list[2]=5
print(my_list)

In [ ]:
# WAP to create list and print the output from index 1 to 3 with the help of slicing
my_list=[1,2,3,4]
print(my_list[1:3])

In [ ]:
# WAP on same list print the output from index start to 2 index with the help of slicing
my_list=[1,2,3,4]
print(my_list[0:2])

In [ ]:
# WAP on list point the output from index 2 to end with the help of slicing
my_list=[1,2,3,4]
print(my_list[2:])

In [ ]:
#WAP on same list print the last three item with the help of slicing
my_list=[1,2,3,4]
print(my_list[-3:])

In [ ]:
# char() remove all the item from the list
a=[10,20,30,40]
a.clear()
print(a)
[]